:root{
  --main-bgk-color: hsl(256, 100%, 20%);
  --main-bg-color: hsl(0, 0%, 100%);
}

html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    min-height: 96vh;
    margin: 0;
}

/*Not Found */
#not_found{
    background-color: var(--main-bgk-color);
  }

.buttons_gifs{
  display: flex;
  flex-direction: column;
  margin-top: 15%;
}

.buttons_gifs > ul{
  display: flex;
  justify-content: center;
  align-items: center;
}

.line_section{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    gap: 5px;
    margin: 0; padding: 0;
}