#music-player{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#song-image{
  height: 150px; width: 150px;
  border-radius: 15%;
}

#song-name{
  margin-top: 20px;
  font-size: 1.5em;
}

#music-buttons{
  display: flex;
  align-items: center;
  margin-top: 20px;
}

#music-buttons i{
  padding: 8px;
}

#slider-song{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width:250px;
  height: 5px;
  background: rgb(177, 177, 177);
  border: 1px solid black;
  border-radius: 10px;
  margin-top: 10px;
}

#slider-song::-webkit-slider-thumb{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: red;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.marquee-container {
  width: 100%; /* Full width of parent */
  max-width: 250px; /* Optional: limit container width */
  height: 60px; /* Fixed height for the marquee */
  overflow: hidden; /* Hide content outside the container */
  position: relative; /* Required for absolute positioning of content */
  background: transparent; /* Optional: background color */
  border-radius: 8px; /* Optional: rounded corners */
}
 
.marquee-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;

  top: 0;
  left: 0;
  white-space: nowrap; /* Prevent content from wrapping */
  padding: 0px 0; /* Vertical padding for alignment */
  font-size: 1.2rem;
  color: #333;
}