:root{
  /* notfound */
  --main-bgk-color: hsl(256, 100%, 20%);
  --main-bg-color: hsl(0, 0%, 100%);

  /* index */
  --card-box-bgk-color:  hsl(0, 0%, 93%);
  --card-box-bg-color: hsl(0, 0%, 0%);
  --bounce-mark-color: hsl(0, 0%, 100%);

    /* main */
    
  }