
@import url("./assets/variables.css");

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.35) #daeff5;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 255, 255, 0.4);
  border-radius: 100%;
}

html {
  color:white;
}

body {
  /* overflow: hidden; */
  margin: 0;
  background:
      repeating-linear-gradient(
          0deg,
          rgba(255,255,255,0.015) 0px,
          rgba(255,255,255,0.015) 1px,
          transparent 1px,
          transparent 3px
      ),

  url(https://64.media.tumblr.com/e68446d3475dbf7713b18088912caf14/65d95d712473120c-73/s250x400/6f9ca7025bc12a599300fad77cb09b5f959cbb01.gifv)
  /* https://sadhost.neocities.org/images/tiles/blkwarp.gif - DODEIRA*/
  /* https://sadhost.neocities.org/images/tiles/num.gif - CODIGOS*/
  /* https://sadhost.neocities.org/images/tiles/background038.gif */
  /* https://64.media.tumblr.com/63253f3f1aab5666a9750b74db456498/1cf45a54e3ee981a-ed/s250x400/d4d24c0084fde950403cc003d9ad9fcb36f7cf7a.pnj */
}

.container{ 
  display: grid;
  grid-template-columns: 1fr 3fr 1fr; 
  grid-template-areas:
    "header header header"
    "left main right"
    "left main right"
  ;

  gap: 10px; 
  margin:1vh 5vw;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

  grid-area: header;
  background-color: var(--main-bg-color);
  min-height: 6vh;
}

.main-page{
  min-height:90vh;
  background-color: var(--main-bg-color);
  grid-area: main;

  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(101, 100, 100) rgb(184, 183, 181);
  scrollbar-width: thin;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap:5px;
}

.left{
    grid-area: left;
}

.left > aside {
  flex: 1;
  min-height: 0;
}

.right{
  grid-area: right;
}

.right > .aside-right {
  flex: 1;
  min-height: 0;
}

.second{
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex: 1;
  min-height: 0;
}

.second > aside {
  flex: 1;
  min-width: 0;
}

.footer{
  display: flex;
  align-items: center;
  justify-content:center;

  grid-area: footer;
  background-color: var(--main-bg-color);
  max-height:8vh;
  margin:0; padding:0;
}

/* HEADER */
.title-menu{
  margin: 0; padding:0;
}

.title{
  font-family: var(--font-wesaysopersonalusebold);
  font-size: 4em;

  margin: 0; padding: 0;
  text-align: -webkit-center;
  color: black;
  background-color: var(--main-bg-color);
}

.navbar{
  display: flex;
  justify-content: right;
  font-size: 1.5em;
  list-style-type: none;
  gap: 10px;
  margin: 5px;
}

a:active, a:visited, a:link {
  text-decoration: none;
  color: black;
}

a:active, a:visited, a:link {
  text-decoration: none;
  color: black;
}

a:hover{
  color: red;
}

/* MAIN */
.uploads{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
}

.under_constructions{
  display:flex;
  flex-direction:row;
  list-style-type:none;
  gap: 10px;
}

/* MAIN > STATUS CAFE */
#statuscafe {
  width: 50%;
  /* padding: .5em; */
  background-color: azure;
  border: 1px solid midnightblue;
}
#statuscafe-username {
  margin-bottom: .5em;
}
#statuscafe-content {
  color: black;
  margin: 0 1em 0.5em 1em;
}

/* ⚠️ Temporário */
h3 {
  color: black;
}

/* left aside */
.aside-left{
  background-color: var(--main-bg-color);
}

/* aside-right */
.aside-right{
  margin-bottom: 15px;
  border-radius: 5px;
  background-color: var(--main-bg-color);
}

.aside-right:nth-child(2) {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-color: rgb(101, 100, 100) rgb(184, 183, 181);
  scrollbar-width: thin;
}

.booting_computer{
  width: 100%;    
  height: 24vh;
  display: block;
}

.second-aside-right{
  background-color: var(--main-bg-color);
  min-width: 7vw;
}

.window{
  width: auto; height:100%;
  box-sizing: border-box;
  margin: 0;
}

.window-body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.happy_emote{
  display: block;
  padding: 5px;
  max-width: 6vw;    
  height: 22vh;
}

.dangaronpa{
  display: block;
  padding: 5px;
  max-width: 8vw;    
  height: 22vh;
}

.footer > .window, .main-page > .window{
  width:100%;
}

#main-content{
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

